HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
front/
### VS Code ###
.vscode/
/predictor-service/app/services/__pycache__
/predictor-service/__pycache__
/tools/
__pycache__/
.mvn/
predictor-service/.pytest_cache
predictor-service/tests/__pycache__
predictor-service/tests/__pycache__
smart-economato.log
smart-economato-API\smart-economato.log
nginx/certs/*
/backups/*
*.tmp
utils