map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

# REDIRECCIÓN PROFESIONAL HTTP -> HTTPS
server {
    listen ${NGINX_HTTP_PORT};
    server_name _;
    location / {
        return 301 https://$host$request_uri;
    }
}

# BLOQUE SEGURO COMPLETO
server {
    listen ${NGINX_HTTPS_PORT} ssl;
    server_name _;
    ssl_certificate /etc/nginx/certs/local.crt;
    ssl_certificate_key /etc/nginx/certs/local.key;
    client_max_body_size 50m;

    # Resolver para Docker (necesario para variables en proxy_pass)
    resolver 127.0.0.11 valid=30s;

    location /monitor/ {
        set $monitor_service inventory-grafana;
        proxy_pass http://$monitor_service:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port ${NGINX_HTTPS_PORT};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /api/ {
        proxy_pass http://inventory-gateway:8080;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_read_timeout 300s;
    }

    # Documentación Scalar & Swagger UI
    location ~ ^/(scalar|v3/api-docs|swagger-ui|webjars) {
        proxy_pass http://inventory-backend:8081;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }

    # WebSocket Alerts
    location /ws-alerts/ {
        proxy_pass http://inventory-backend:8081;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
    }

    # WebSocket Notifications
    location /ws-notifications/ {
        proxy_pass http://inventory-backend:8081;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
    }

    location / {
        proxy_pass http://inventory-frontend:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
    }
}
